section{
    padding: 1em;
}

main{
    padding: 1em;
}

article{
    padding: 0.5em;
    margin: 1em;
}

.card{
    border: none;
    padding-top: 1em;
}

#remerciements {
    padding: 1em;
    font-size: 1.1em;
}
